services:
  gateway:
    environment:
      - EUREKA_SERVICE_URL=http://nameserver:8761/eureka/
    build:
      context: ./gateway
    ports:
      - 8765:8765
    networks:
      - eureka
    depends_on:
      - nameserver
      - scaa
      - asscache
  nameserver:
    environment:
      - EUREKA_SERVICE_URL=http://nameserver:8761/eureka/
    build:
      context: ./nameserver
    ports:
      - 8761:8761
    hostname: nameserver
    networks:
      - eureka

  asscache:
    environment:
      - EUREKA_SERVICE_URL=http://nameserver:8761/eureka/
      - RABBITMQCONFIG_SERVICE_URL=rabbitmq
    build:
      context: ./asscache
    ports:
      - 8082
    networks:
      - eureka
    deploy:
      replicas: 3
    depends_on:
      - nameserver
      - scaa
      - rabbitmq
  scaa:
    environment:
      - EUREKA_SERVICE_URL=http://nameserver:8761/eureka/
      - RABBITMQCONFIG_SERVICE_URL=rabbitmq

    build:
      context: ./scaa
    ports:
      - 8081:8081
    networks:
      - eureka
    depends_on:
      - nameserver
      - rabbitmq
  rabbitmq:
    image: rabbitmq:3.8.6-management
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - rabbitmq
networks:
  eureka:
    driver: bridge
  rabbitmq:
    driver: bridge