server:
  port: 8765
spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          lower-case-service-id: true
          enabled: true
      routes:
        - id: scaa
          uri: lb://scaa
          predicates:
            - Path=/scaa/**
          filters:
            - RewritePath=/scaa/?(?<remaining>.*), /${remaining}
        - id: asscache
          uri: lb://asscache
          predicates:
            - Path=/asscache/**
          filters:
            - RewritePath=/asscache/?(?<remaining>.*), /${remaining}
  main:
    web-application-type: reactive
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true